html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.42857;
    color: #ffffff;
    background-color: #2F3133;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

div {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

a {
    color: #8ea9f1;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}


.spacer { /*just a tool to get some space*/
    clear: both;
    height: 20px;
}

hr { /*Line*/
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1;
  border-top: 1px solid #34495e;
  margin-left: 30vw;
  margin-right: 30vw;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2F3133;
  opacity: 90%;
  overflow: hidden;
  position: sticky;
  top:0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 60px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #003367;
  color: white;
}

.titleblock{
    background-color: #001A38;
    
}

.container{
    width: 40vw;
    margin: auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    
}
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    margin: auto;
}
  
.column img {
    margin-top: 60px;
    vertical-align: middle;
    width: 100%;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
      flex: 100%;
      max-width: 100%;
    }
}
  
p { /*text*/
    opacity: 70%;
}

h1 { /* Title */
    font-size: 100px;
    margin-top: 0%;
}

h2 { /* subtitle */
    opacity: 60%;
}

h3{ /* heading 1 */
    text-decoration: underline;
    font-size: x-large;
}

h4{ /* heading 2 */
    opacity: 60%;  
}

#precinctpdf{
    width:100%;
    height:100vh;
}

table, th, td {
    border:1px solid white;
    margin: auto;
    padding: auto;
}

footer {
    opacity: 50%;
    text-align: end;
}